language: r
sudo: false
cache: packages
warnings_are_errors: false
r_build_args: --no-build-vignettes --no-manual
r_check_args: --no-vignettes --no-manual --timings --as-cran

r:
  - release

env:
  global:
    - _R_CHECK_FORCE_SUGGESTS_=true

repos:
  CRAN: https://cloud.r-project.org
  rforge: http://rforge.net

compiler:
  - gcc

addons:
  apt:
    sources: 
      - ubuntu-toolchain-r-test
    packages:
      - gcc-5
      - g++-5
      - gfortran-5

r_packages:
  - covr
  - lintr

before_install:
  - mkdir -p ~/.R && touch ~/.R/Makevars
  - VER=-5
  - echo "CC=gcc$(VER)" >> ~/.R/Makevars
  - echo "CXX=g++$(VER)" >> ~/.R/Makevars
  - echo "CXX11=g++$(VER)" >> ~/.R/Makevars
  - echo "FC=gfortran$(VER)" >> ~/.R/Makevars
  - echo "F77=gfortran$(VER)" >> ~/.R/Makevars
  - sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc${VER} 60 --slave /usr/bin/g++ g++ /usr/bin/g++${VER}
  - sudo update-alternatives --install /usr/bin/gfortran gfortran /usr/bin/gfortran${VER} 60

after_script:
  - R CMD INSTALL $PKG_TARBALL
  - Rscript -e 'lintr::lint_package()'

after_success:
  - Rscript -e 'covr::codecov()'
